extends layout

block content
	div.container
		div.col-sm-6
			div(style="width: 70%;")
				a(href="/") Back To Menu
				h1 Add your shout
				form#formAddShout.form-group(name="addshout", method="post", action="/addshout")
					select.form-control(name="username" disabled=users.length===0)
						each user, i in users
							option(value="#{user.username}") #{user.username}
					br
					div
						textarea.form-control(name="body", placeholder="Shout Something!", cols="50", rows="5" disabled=users.length===0)
					br
					div
						button.btn.btn-success.pull-right(style="width: 90px;" type="submit" disabled=users.length===0) Send
		div.col-sm-6
			h1 Shouts
			ul
				each shout, i in shouts
					div.well(style="margin-bottom: 2px; width: 80%;") 
						li <strong> 
							a(href="/shouts/#{shout.username}") #{shout.username}:  </strong>
							|  #{shout.body}