extends layout

block content
	a(href="/users") Back To Users
	h1 User Info
	ul.list-group
		li Name: 
			strong #{full_name}
		li Username: 
			strong #{username}
		li Email Address: 
			strong #{email}
	div#actions
		a.btn.btn-info(class="edituser" href="/edituser/#{username}") Edit User
		| &nbsp;
		| &nbsp;
		| &nbsp;
		a.btn.btn-danger(class="deleteuser" data-user="#{username}") Delete 